<div class="col-md-4" *ngFor="let game of games">
    <div class="card text-center">
        <div class="card-header">
            {{game.title}}
        </div>
        <div class="card-body">

        </div>

    </div>

</div>
